.wrapper {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    height: var(--default-layout-header-height, 60px);
    display: flex;
    justify-content: center;
}
.inner {
    background-color: blue;
    width: var(--default-layout-header-width, 1150px);
    height: 100%;
}
